In [1]:
import pandas as pd

In [3]:
#Load data from CSV files
drink_data = pd.read_csv('data/drinks.csv')

In [4]:
#Select 
drink_data.country

#Select rows about afghanistan, africa, and albania
alg = drink_data[drink_data.country == 'algeria']
ven = drink_data[drink_data.country == 'venezuela']
yemen = drink_data[drink_data.country == 'yemen']

In [5]:
drinksB = pd.concat([alg, ven, yemen])

In [6]:
drinksB

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
2,algeria,25,0,14,0.7
188,venezuela,333,100,3,7.7
190,yemen,6,0,0,0.1